<br>
<h1 class="inline font-medium leading-tight text-xl mt-0 mb-2">Sort by:</h1>
<button class="inline bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded my-3">
  <%= link_to "Price(low to high)", search_index_path(:sort => "price:low_to_high", :search_text => params[:search_text], :minprice => params[:minprice], :maxprice => params[:maxprice] ), data: {turbo_frame: :search_field}%>
</button>
<button class="inline bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded my-3">
  <%= link_to "Price(high to low)", search_index_path(:sort => "price:high_to_low", :search_text => params[:search_text], :minprice => params[:minprice], :maxprice => params[:maxprice] ), data: {turbo_frame: :search_field}%>
</button>
<button class="inline bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded my-3">
  <%= link_to "Newly Launched", search_index_path(:sort => "newly_added", :search_text => params[:search_text], :minprice => params[:minprice], :maxprice => params[:maxprice] ), data: {turbo_frame: :search_field}%>
</button>


<br><br><hr>