<%=turbo_frame_tag "modal" do %>
<div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#connect turbo:click->turbomodal#connect" >

<div>
    <h1 class="mb-4 text-2xl font-grey" style="font-weight: bold;font-size: xx-large;color: lightgrey;">Editing product</h1>
    <%= render "form", product: @product %>
    <div>
      <%= link_to "Show this product", @product, class: "inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600 my-2" %> 
    </div>
</div> 


</div> 
<%end%>

